<video #video> </video>


<div class="row">
    <div class="col-sm-6">
        <button class="pixel-button-alert center" type="button" (click)="onStart()">Go Live!!</button>
    </div>
    <div class="col-sm-6">
        <button class="pixel-button center" type="button" (click)="onStop()">Disconnet</button>
    </div>
  </div>


  <div class="container-fluid" style="background-color:black">
    <div class="row">
      <div class="col-md-9 px-0">
        <div class="row">
        </div>
        <div class="row">
        </div>
      </div>
      <div class="col-md-3 px-0">
      </div>
    
    </div>
  </div>
  