<div class="landing" style="overflow-y: hidden;">
  <div class="content">
    <div class="container header">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <img class="img-fluid mx-auto" src="../../assets/eth-live.png" alt="text"
          [style.max-width]="'20%'"
          > 
        </div>
        <div class="col-sm-4"></div>
      </div>

    </div>

    <svg class="vector" aria-hidden="true" viewBox="0 0 1441 790" preserveAspectRatio="none">
      <path vector-effect="non-scaling-stroke"
        d="M1035.5 790V0m-315 790V0m-317 790V0M.5 490h1440M.5 725h1440M.5 490l403 235m633 .5 403-235"></path>
    </svg>
    <h1 class="title">Connect with your favorite streamer!</h1>

    <div>
      <button class="btn btn-primary pixel-button center" (click)="Connect()" *ngIf="this.account == undefined"> 
        Connect your wallet
      </button>
  
      <button class="pixel-button center" (click)="Navigate()" *ngIf="this.account != undefined"> 
        Create your content
      </button>
    </div>
    <div class="message-error" *ngIf="this.error">
      <h6> *Error {{errorMessage}} </h6>
    </div>
    <svg class="vector vector--circle" aria-hidden="true" viewBox="0 0 634 634">
      <circle vector-effect="non-scaling-stroke" cx="316" cy="316" r="316"></circle>
    </svg>

    <div class="show">
      <div class="gallery">
        <div class="img-gallery" [style.background-image]="'url(../../assets/main.jpg)'"></div>
      <div class="col-sm-4"></div>
    </div>
    


  </div>
</div>