<div class="landing">
  <div class="content">
    <div class="header">
      <div class="row">
        <div class="col-sm-4">1</div>
        <div class="col-sm-4"> Logo
        </div>
        <div class="col-sm-4">3</div>
      </div>

    </div>

    <svg class="vector" aria-hidden="true" viewBox="0 0 1441 790" preserveAspectRatio="none">
      <path vector-effect="non-scaling-stroke"
        d="M1035.5 790V0m-315 790V0m-317 790V0M.5 490h1440M.5 725h1440M.5 490l403 235m633 .5 403-235"></path>
    </svg>
    <h1 class="title"> The future is here , Own and control your content</h1>

    <button class="pixel-button center" (click)="Connect()">
      Connect your wallet
    </button>
    <svg class="vector vector--circle" aria-hidden="true" viewBox="0 0 634 634">
      <circle vector-effect="non-scaling-stroke" cx="316" cy="316" r="316"></circle>
    </svg>

    <div class="show">
      <div class="gallery">
        <div class="img-gallery" [style.background-image]="'url(../../assets/main.jpg)'"></div>
      </div>
    </div>
    


  </div>
</div>