<div class="container-flex px-3 py-3" style="background-color:rgba(255, 255, 255, 0.002); color:white">
  <div class="row">
    <div class="col-md-12 text-center">
      <h4>Stream's Chat</h4>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item" style="color:white; background-color:rgba(255, 255, 255, 0.002)"><span
            style="color:chocolate">Jhon: </span>Hey friends!</li>
        <li class="list-group-item" style="color:white; background-color:rgba(255, 255, 255, 0.002)"><span
            style="color:blue">Peter: </span>Nerf miner</li>
        <li class="list-group-item" style="color:white; background-color:rgba(255, 255, 255, 0.002)"><span
            style="color:red">Mario: </span>Hello World!</li>
      </ul>
    </div>
  </div>
  <div class="row sticky-footer mb-4">
    <div class="col-md-12 mb-3">
      <input class="form-control chat-input" type="text" placeholder="Send a message">
    </div>
    <div class="col-md-12">
      <button class="btn btn-primary float-end mx-2 px-3" style="background-color: #37367b">Chat</button>
      <button class="btn btn-primary float-end mx-2 px-3" style="background-color: #716b94">Donate ETH</button>
    </div>
  </div>
</div>
