.profile-pic{
    border-radius: 50%;
    border: 3px solid red;
}

.bg-custom{
    background-color: red !important;
}

.img-container {
    position: relative;
    text-align: center;
}

.special-link{
    // No underline
    text-decoration: none;
    color: #716b94;
}