<div class="container-flex mt-3">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
            <div class="col-md-12">
                <img class="img-fluid float-end profile-pic" src="./assets/profile_image-70x70.png">
            </div>
            <div class="col-md-12">
                <span class="badge bg-secondary bg-custom float-end me-3">LIVE</span>
            </div>
        </div>
    </div>
        <div class="col-md-8" style="color:white">
            <h4>Missuster</h4>
            <h5>🔴We play League of Legends Ranked🔴 Getting Platinum on KOREAAAA VIDEO</h5>
            <p><a href="#" target="_blank" class="special-link">League of Legends</a> <span class="badge bg-secondary ms-2 me-2">English</span><span class="badge bg-secondary">Games</span></p>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary mb-3" (click)="mintSub()">Mint subscription</button>
            <p style="color: #79e7e7">
                <img height="30px" src="./assets/user.png">
                969
            </p>
        </div>
    </div>
</div>