<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul>
                <li>Go Live</li>
                <li>Create NFTs</li>
                <li>Manage subscriptions</li>
                <li>My wallet</li>
            </ul>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                  Create NFTs
                </div>
                <div class="card-body">
                  <h5 class="card-title">Create NFTs and engage with your audience</h5>
                  <p class="card-text">Engage fast with your audience by creating NFTs that gives them different subscription benefits. You can choose those benefits below: </p>
                  <ul>
                    <li><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">
                            Only NFT holders can chat.
                        </label>
                      </div></li>
                      <li><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">
                            Only NFT holders can send TTS.
                        </label>
                      </div></li>
                      <li><div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">
                            Exclusive chat for NFT holders
                        </label>
                      </div></li>
                  </ul>
                  <a href="#" class="btn btn-primary">Upload</a>
                </div>
              </div>
        </div>
    </div>
</div>